<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2>This is the appointment page</h2>

        <h3>{{msg}}</h3>
        <ul id="example-list" class="list-group">
          {{#each appointment}}
            <a href="appointment/{{this.id}}">
            <p>{{id}}: {{start_time}}</p></a>
            <p>{{note}}</p>        
            <button class="btn btn-small float-right delete">Edit Appointment</button>            
            <button class="btn btn-small float-right delete">Cancel Appointment</button>
            <hr>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
