<div class="container new-member-styling">
    <div class="card">
        <div class="card-header new-member-header-styling">
            <h4 class="mb-0">New Appointment</h4>
        </div>

        <div class="card-body h-100">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="custNames">Existing Customer</label>
                        <select id="custNames" class="form-control customerName" required>
                            {{#each listOfCustomers}}
                            <option data-id={{this.id}}>{{this.firstName}} {{this.mName}} {{this.lastName}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="appt-time-new">Appointment Date and Time</label>
                        <br>
                        <div class="form-group">
                            <div class="input-group date" required id="datetimepickerNew" data-target-input="nearest">
                                <input type="text" id="appt-date" class="form-control datetimepicker-input"
                                    data-target="#datetimepickerNew" />
                                <div class="input-group-append" data-target="#datetimepickerNew"
                                    data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#datetimepickerNew').datetimepicker();
                            });
                        </script>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group scol-6 col-sm-8">
                        <label for="custNote">Note</label>
                        <textarea class="form-control" id="custNote"></textarea>
                    </div>
                </div>
                <br>
                <button id="createAppt" data-id={{client.id}} type="button"
                    class="btn btn-primary new-member-btn-styling">Submit</button>
            </form>
        </div>
    </div>
</div>