<div class="container-fluid p-4">
    <div class="row">
        <div class="card mt-4 mx-auto portal-card-styling">
            <div class="card-header customer-navbar-styling">
                <nav class="navbar navbar-light customer-navbar-styling justify-content-between">
                    <a class="navbar-brand">Customer Lookup</a>
                    <form class="form-inline">
                        <input class="form-control mr-sm-2 search-width-styling responsive-search-icon" type="search"
                            placeholder="Search by Name, Email, or ID" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i
                                class="fas fa-search"></i></button>
                    </form>
                </nav>
            </div>
            <div class="card-body p-0 h-100">
                <form>
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Select</th>
                                    <th scope="col">ID</th>
                                    <th scope="col" class="responsive-name-cols">First Name</th>
                                    <th scope="col">MI</th>
                                    <th scope="col" class="responsive-name-cols">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Sex</th>
                                    <th scope="col" class="responsive-address">Address</th>
                                    <th scope="col">Email</th>
                                    <th scope="col" class="responsive-contact-number">Contact Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each listOfCustomers}}
                                <tr>
                                    <td> <input type="radio" name="selectedCustomer" value="{{this.id}}">
                                    </td>
                                    <th scope="row">{{this.id}}</th>
                                    <td> {{this.firstName}}</td>
                                    <td>{{this.mName}}</td>
                                    <td>{{this.lastName}}</td>
                                    <td>{{this.age}}</td>
                                    <td>{{this.gender}}</td>
                                    <td>{{this.address}}, {{this.zipcode}}</td>
                                    <td>{{this.email}}</td>
                                    <td>{{this.phone}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="card-header customer-details-header-bg" id="accordion">
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    View Details
                </a>
                <div class="collapse mt-3" id="collapseExample" data-parent="#accordion">
                    <div class="card card-body p-0 h-100">
                        <div class="table-responsive">
                            <table class="table table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col" class="responsive-appt-id">Appt ID</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Notes</th>
                                        <th class="text-center" scope="col">Edit</th>
                                        <th class="text-center" scope="col">Delete</th>
                                        <th scope="col" class="responsive-save-changes"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="accordion-1">
                                        <th scope="row">1</th>
                                        <td>Tue 01 Mar 2019</td>
                                        <td>08:30 AM</td>
                                        <td>Blood work results.</td>
                                        <td class="text-center edit-del-styling">
                                            <a class="btn btn-primary edit-del-effect" data-toggle="collapse"
                                                href="#collapseExample2" role="button" aria-expanded="false"
                                                aria-controls="collapseExample2">
                                                <i class="fas fa-edit edit-del-icons"></i>
                                            </a>
                                        </td>
                                        <td class="text-center edit-del-styling"> <a
                                                class="btn btn-primary edit-del-effect" role="button">
                                                <i class="fas fa-backspace edit-del-icons"></i>
                                            </a></td>
                                        <td></td>
                                    </tr>

                                    <tr class="collapse" id="collapseExample2" data-parent="#accordion-1">
                                        <th scope="row"></th>
                                        <td> <input type="text" class="form-control" placeholder="Date">
                                        </td>
                                        <td> <input type="text" class="form-control" placeholder="Time">
                                        </td>
                                        <td> <input type="text" class="form-control" placeholder="Notes">
                                        </td>
                                        <td class="text-center"></td>
                                        <td></td>
                                        <td class="text-center"><button type="button" class="btn btn-primary"
                                                id="editApptPortalBtn">Save
                                                Changes</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>