<div class="container p-4">
    <div class="row">
        <div class="card mt-4 mx-auto portal-card-styling">
            <div class="card-header customer-navbar-styling">
                <nav class="navbar navbar-light customer-navbar-styling justify-content-between">
                    <a class="navbar-brand">Customer Lookup</a>
                    <form class="form-inline">
                        <input class="form-control mr-sm-2 search-width-styling" type="search"
                            placeholder="Search by Name, Email, or ID" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i
                                class="fas fa-search"></i></button>
                    </form>
                </nav>
            </div>
            <div class="card-body p-0 h-100">
                <form>
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Select</th>
                                    <th scope="col">ID</th>
                                    <th scope="col">First</th>
                                    <th scope="col">MI</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Sex</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Contact Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each listOfCustomers}}
                                <tr>
                                    <td> <input type="radio" name="selectedCustomer" value="{{this.id}}">
                                    </td>
                                    <th scope="row">{{this.id}}</th>
                                    <td> {{this.firstName}}</td>
                                    <td>{{this.mName}}</td>
                                    <td>{{this.lastName}}</td>
                                    <td>{{this.age}}</td>
                                    <td>{{this.gender}}</td>
                                    <td>{{this.address}}, {{this.zipcode}}</td>
                                    <td>{{this.email}}</td>
                                    <td>{{this.phone}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="card-header customer-details-header-bg" id="accordion">
                <a id="app-details" class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    View Details
                </a>
                <div class="collapse mt-3" id="collapseExample" data-parent="#accordion">
                    <div class="card card-body p-0 h-100">
                        <div class="table-responsive" id="custApp">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- 
<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        <i class="fas fa-edit"></i>
    </a>

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        Button with data-target
    </button>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
</div> --}}