<div class="container-fluid p-4">
    <div class="row">
        <div class="card mt-4 mx-auto portal-card-styling">
            <div class="card-header customer-navbar-styling">
                <nav class="navbar navbar-light customer-navbar-styling justify-content-between">
                    <a class="navbar-brand">Customer Lookup</a>
                    <form class="form-inline">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button id="selected" class="btn btn-outline-secondary dropdown-toggle" type="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search by</button>
                                <div id="search-menu" class="dropdown-menu">
                                    <a class="dropdown-item" data-search="id">ID</a>
                                    <a class="dropdown-item" data-search="lastName">Last Name</a>
                                    <a class="dropdown-item" data-search="phone">Phone Number</a>
                                    <a class="dropdown-item" data-search="id">Email</a>
                                </div>
                            </div>
                            <form method="GET" action="/client">
                                <input type="hidden" name="stype" id="stype">
                                <input id="searchInput" name="sval" type="text" class="form-control"
                                    aria-label="Text input with dropdown button">
                                <button type="submit" id="customer-search" class="btn btn-outline-success my-2 my-sm-0">
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>
                        </div>

                    </form>
                </nav>
            </div>
            <div class="card-body p-0 h-100">
                <form>
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Select</th>
                                    <th scope="col">ID</th>
                                    <th scope="col" class="responsive-name-cols">First Name</th>
                                    <th scope="col">MI</th>
                                    <th scope="col" class="responsive-name-cols">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Sex</th>
                                    <th scope="col" class="responsive-address">Address</th>
                                    <th scope="col">Email</th>
                                    <th scope="col" class="responsive-contact-number">Contact Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each listOfCustomers}}
                                <tr>
                                    <td> <input type="radio" name="selectedCustomer" value="{{this.id}}">
                                    </td>
                                    <th scope="row">{{this.id}}</th>
                                    <td> {{this.firstName}}</td>
                                    <td>{{this.mName}}</td>
                                    <td>{{this.lastName}}</td>
                                    <td>{{this.age}}</td>
                                    <td>{{this.gender}}</td>
                                    <td>{{this.address}}, {{this.zipcode}}</td>
                                    <td>{{this.email}}</td>
                                    <td>{{this.phone}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="card-header customer-details-header-bg" id="accordion">
                <a id="app-Edit" class="btn btn-primary" data-toggle="collapse" href="#collapseEdit" role="button"
                    aria-expanded="false" aria-controls="collapseEdit">
                    Edit Customer
                </a>
                <div class="collapse mt-3" id="collapseEdit" data-parent="#accordion">
                    <div class="card card-body p-0 h-100">
                        <div class="table-responsive" id="custEdit">

                            <div class="container new-member-styling">
                                <div class="card">
                                    <div class="card-header new-member-header-styling">
                                        <h4 class="mb-0">Edit Customer Information</h4>
                                    </div>

                                    <div class="card-body h-100">
                                        <form>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="custEmailEdit">Email</label>
                                                    <input required type="email" class="form-control" id="custEmailEdit"
                                                        placeholder="email@domain.org">
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <label for="custPasswordEdit">Password</label>
                                                    <input required type="password" class="form-control"
                                                        id="custPasswordEdit">
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col-5">
                                                    <label for="custFirstNameEdit">First Name</label>
                                                    <input required type="text" class="form-control"
                                                        id="custFirstNameEdit">
                                                </div>

                                                <div class="col-2">
                                                    <label for="custMiddleNameEdit">M.I.</label>
                                                    <input type="text" class="form-control" id="custMiddleNameEdit">
                                                </div>

                                                <div class="col-5">
                                                    <label for="custLastNameEdit">Last Name</label>
                                                    <input required type="text" class="form-control"
                                                        id="custLastNameEdit">
                                                </div>
                                            </div>

                                            <div class="form-row mt-3">
                                                <div class="col-3 col-sm-2">
                                                    <label for="custAgeEdit">Age</label>
                                                    <input required type="text" class="form-control" id="custAgeEdit">
                                                </div>

                                                <div class="col-3 col-sm-2">
                                                    <label for="custGenderEdit">Gender</label>
                                                    <select id="custGenderEdit" class="form-control" required>
                                                        <option value="M">Male</option>
                                                        <option value="F">Female</option>
                                                    </select>
                                                </div>

                                                <div class="col-6 col-sm-8">
                                                    <label for="custNumberEdit">Phone Number</label>
                                                    <input required type="text" class="form-control"
                                                        id="custNumberEdit">
                                                </div>
                                            </div>

                                            <div class="form-group mt-3">
                                                <label for="custAddressEdit">Address</label>
                                                <input required type="text" class="form-control" id="custAddressEdit"
                                                    placeholder="Street and number, P.O. Box, c/o.">
                                            </div>

                                            <div class="form-group">
                                                <input type="text" class="form-control" id="custSecondaryAddressEdit"
                                                    placeholder="Apartment, suite, unit, building, floor, etc.">
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-12 col-sm-6">
                                                    <label for="custCityEdit">City</label>
                                                    <input required type="text" class="form-control" id="custCityEdit">
                                                </div>

                                                <div class="form-group col-6 col-sm-4">
                                                    <label for="custStateEdit">State</label>
                                                    <select id="custStateEdit" class="form-control" required>
                                                        <option value="AL">Alabama</option>
                                                        <option value="AK">Alaska</option>
                                                        <option value="AZ">Arizona</option>
                                                        <option value="AR">Arkansas</option>
                                                        <option value="CA">California</option>
                                                        <option value="CO">Colorado</option>
                                                        <option value="CT">Connecticut</option>
                                                        <option value="DE">Delaware</option>
                                                        <option value="DC">District Of Columbia</option>
                                                        <option value="FL">Florida</option>
                                                        <option value="GA">Georgia</option>
                                                        <option value="HI">Hawaii</option>
                                                        <option value="ID">Idaho</option>
                                                        <option value="IL">Illinois</option>
                                                        <option value="IN">Indiana</option>
                                                        <option value="IA">Iowa</option>
                                                        <option value="KS">Kansas</option>
                                                        <option value="KY">Kentucky</option>
                                                        <option value="LA">Louisiana</option>
                                                        <option value="ME">Maine</option>
                                                        <option value="MD">Maryland</option>
                                                        <option value="MA">Massachusetts</option>
                                                        <option value="MI">Michigan</option>
                                                        <option value="MN">Minnesota</option>
                                                        <option value="MS">Mississippi</option>
                                                        <option value="MO">Missouri</option>
                                                        <option value="MT">Montana</option>
                                                        <option value="NE">Nebraska</option>
                                                        <option value="NV">Nevada</option>
                                                        <option value="NH">New Hampshire</option>
                                                        <option value="NJ">New Jersey</option>
                                                        <option value="NM">New Mexico</option>
                                                        <option value="NY">New York</option>
                                                        <option value="NC">North Carolina</option>
                                                        <option value="ND">North Dakota</option>
                                                        <option value="OH">Ohio</option>
                                                        <option value="OK">Oklahoma</option>
                                                        <option value="OR">Oregon</option>
                                                        <option value="PA">Pennsylvania</option>
                                                        <option value="RI">Rhode Island</option>
                                                        <option value="SC">South Carolina</option>
                                                        <option value="SD">South Dakota</option>
                                                        <option value="TN">Tennessee</option>
                                                        <option value="TX">Texas</option>
                                                        <option value="UT">Utah</option>
                                                        <option value="VT">Vermont</option>
                                                        <option value="VA">Virginia</option>
                                                        <option value="WA">Washington</option>
                                                        <option value="WV">West Virginia</option>
                                                        <option value="WI">Wisconsin</option>
                                                        <option value="WY">Wyoming</option>
                                                    </select>
                                                </div>

                                                <div class="form-group col-6 col-sm-2">
                                                    <label for="custZipCodeEdit">Zip</label>
                                                    <input required type="text" class="form-control"
                                                        id="custZipCodeEdit">
                                                </div>
                                            </div>

                                            <button id="editCustomer" type="newMemberBtn"
                                                class="btn btn-primary new-member-btn-styling">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a id="app-details" class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    View Appointments
                </a>
                <div class="collapse mt-3" id="collapseExample" data-parent="#accordion">
                    <div class="card card-body p-0 h-100">
                        <div class="table-responsive" id="custApp">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>