<div class="container pt-4 company-info-bg">
    <div class="row">
        <div class="col-12 mx-auto">
            <div class="card">
                <img src="/assets/img/dummyPhoto.png" class="card-img-top" alt="...">
                <div class="card-body company-info-body">
                    <dl class="row">
                        <dt class="col-sm-3">Business Name</dt>
                        <dd class="col-sm-9">{{client.bus_name}}</dd>

                        <dt class="col-sm-3">Location</dt>
                        <dd class="col-sm-9">123 Example Road, Raleigh, NC 27707</dd>

                        <dt class="col-sm-3">Business Hours</dt>
                        <dd class="col-sm-9">{{client.first_apt}} through {{client.last_apt}}</dd>

                        <dt class="col-sm-3 text-truncate">Website</dt>
                        <dd class="col-sm-9">dukehealthclinic.org</dd>

                        <dt class="col-sm-3 text-truncate">Contact Email</dt>
                        <dd class="col-sm-9">{{client.email}}</dd>

                        <dt class="col-sm-3">Customer Service</dt>
                        <dd class="col-sm-9">123.456.7890</dd>
                    </dl>
                    <img id="client_image" src="" alt="loading"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-4">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-3 summary-box summary-date">
            <div class="card summary-cards mx-auto bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header month-header" id="displayMonth"></div>
                <div class="card-body card-body-padding">
                    <p class="card-text summary-date-text" id="displayDate"></p>
                </div>
                <div class="card-header month-header" id="displayDay"></div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 summary-box">
            <div class="card summary-cards mx-auto bg-light mb-3" style="max-width: 18rem;">
                <div class="card-body card-body-padding summary-time">
                    <p class="card-text time-text" id="displayTime"></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 summary-box summary-appt">
            <div class="card summary-cards mx-auto bg-light mb-3" style="max-width: 18rem;">
                <div class="card-body card-body-padding">
                    <p class="card-text appt-text">{{numOfAppointments}}</p>
                </div>
                <div class="card-header appt-header">Appointments</div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 summary-box summary-member">
            <div class="card summary-cards mx-auto bg-light mb-3" style="max-width: 18rem;">
                <div class="card-body card-body-padding">
                    <p class="card-text member-text">19</p>
                </div>
                <div class="card-header members-header">Members</div>
            </div>
        </div>
    </div>
</div>

{{!-- This is the appt list div --}}


<div class="container-fluid p-4" style="
    padding-top: 5px!important">
    <div class=" row">
        <div class="card mt-0 mx-auto portal-card-styling">
            <div class="card-header customer-navbar-styling">
                <nav class="navbar navbar-light customer-navbar-styling justify-content-between">
                    <a class="navbar-brand lookupLogo">Appointments</a>
                    {{!-- This will actually be a date range selecter and search --}}
                    <form class="form-inline">
                        <input class="form-control mr-sm-2 search-width-styling responsive-search-icon" type="search"
                            placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i
                                class="fas fa-search"></i></button>
                    </form>
                </nav>
            </div>
            <div class="card-body p-0 h-100">
                <div class="table-responsive">
                    <table class="table table-striped mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="responsive-appt-id">Appt ID</th>
                                <th scope="col" class="responsive-appt-time">Appointment Time</th>
                                <th scope="col" class="responsive-appt-fullName">Full Name</th>
                                <th scope="col" class="responsive-contact-number">Contact Number</th>
                                <th scope="col">Email</th>
                                <th scope="col" class="responsive-appt-notes">Notes</th>
                                <th scope="col" class="responsive-save-changes"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <form>
                            <tbody>
                                {{#each appointments}}
                                <tr>
                                    <td>{{this.id}}</td>
                                    <td>{{this.pretty_start_time}}</td>
                                    <td>{{this.Customer.firstName}} {{this.Customer.mName}} {{this.Customer.lastName}}
                                    </td>
                                    <td>{{this.Customer.phone}}</td>
                                    <td>{{this.Customer.email}}</td>
                                    <td>{{this.note}}</td>
                                    <td class="text-center edit-del-styling edit">
                                        <a class="btn btn-primary edit-del-effect" style="background: rgb(109,117,125)"
                                            data-id="{{this.id}}" data-toggle="collapse"
                                            data-target="#collapse{{this.id}}" role="button" aria-expanded="false"
                                            aria-controls="collapse{{this.id}}">
                                            <i class="fas fa-edit edit-del-icons"></i>
                                        </a>
                                    </td>
                                    <td class="text-center edit-del-styling"> <button type="button" data-id={{this.id}}
                                            class="btn btn-primary edit-del-effect delete"
                                            style="background: darkred"><i
                                                class="fas fa-trash-alt edit-del-icons"></i></button>
                                    </td>
                                </tr>
                                <tr class="collapse" id="collapse{{this.id}}">
                                    <td>{{this.id}}</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="input-group date" id="datetimepicker{{this.id}}"
                                                data-target-input="nearest">
                                                <input type="text" id="appt-date{{this.id}}"
                                                    class="form-control datetimepicker-input"
                                                    data-target="#datetimepicker{{this.id}}"> </input>
                                                <div class="input-group-append" data-target="#datetimepicker{{this.id}}"
                                                    data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{this.Customer.firstName}} {{this.Customer.mName}} {{this.Customer.lastName}}
                                    </td>
                                    <td>{{this.Customer.phone}}</td>
                                    <td>{{this.Customer.email}}</td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="note{{this.id}}"
                                                placeholder={{this.note}}></input>
                                        </div>
                                    </td>
                                    <td class="text-center"><button type="button" data-id={{this.id}}
                                            class="btn btn-primary save-edit" id="saveSummaryApptBtn{{this.id}}">Save
                                            Changes</button>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </form>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var imageSrc = "{{client.image}}";
    document.querySelector("#client_image").src = imageSrc;
</script>