<div class="container pt-4 company-info-bg">
    <div class="row">
        <div class="col-12 mx-auto">
            <div class="card">
                <img src="/assets/img/dummyPhoto.png" class="card-img-top" alt="...">
                <div class="card-body company-info-body">
                    <dl class="row">
                        <dt class="col-sm-3">Business Name</dt>
                        <dd class="col-sm-9">{{client.bus_name}}</dd>

                        <dt class="col-sm-3">Location</dt>
                        <dd class="col-sm-9">123 Example Road, Raleigh, NC 27707</dd>

                        <dt class="col-sm-3">Business Hours</dt>
                        <dd class="col-sm-9">{{client.first_apt}} through {{client.last_apt}}</dd>

                        <dt class="col-sm-3 text-truncate">Website</dt>
                        <dd class="col-sm-9">dukehealthclinic.org</dd>

                        <dt class="col-sm-3 text-truncate">Contact Email</dt>
                        <dd class="col-sm-9">{{client.email}}</dd>

                        <dt class="col-sm-3">Customer Service</dt>
                        <dd class="col-sm-9">123.456.7890</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-4">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-3 summary-box summary-date">
            <div class="card summary-cards mx-auto bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header month-header">November</div>
                <div class="card-body card-body-padding">
                    <p class="card-text summary-date-text">14</p>
                </div>
                <div class="card-header month-header">Thursday</div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 summary-box">
            <div class="card summary-cards mx-auto bg-light mb-3" style="max-width: 18rem;">
                <div class="card-body card-body-padding summary-time">
                    <p class="card-text time-text">2:15 PM</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 summary-box summary-appt">
            <div class="card summary-cards mx-auto bg-light mb-3" style="max-width: 18rem;">
                <div class="card-body card-body-padding">
                    <p class="card-text appt-text">5</p>
                </div>
                <div class="card-header appt-header">Appointments</div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 summary-box summary-member">
            <div class="card summary-cards mx-auto bg-light mb-3" style="max-width: 18rem;">
                <div class="card-body card-body-padding">
                    <p class="card-text member-text">19</p>
                </div>
                <div class="card-header members-header">Members</div>
            </div>
        </div>
    </div>
</div>

{{!-- This is the appt list div --}}


<div class="container pt-4">
    <div class="row">
        <div class="card mt-4 mx-auto">
            <div class="card-header">
                <nav class="navbar navbar-light bg-light justify-content-between">
                    <a class="navbar-brand"><i class="fas fa-search"></i>&nbsp;&nbsp;&nbsp;Appointments</a>
                    {{!-- This will actually be a date range selecter and search --}}
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </nav>
            </div>
            <div class="card-body p-0 h-100">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Appt ID</th>
                                <th scope="col">Appointment Time</th>
                                <th scope="col">Cust ID</th>
                                <th scope="col">Cust Name</th>
                                <th scope="col">Cust Phone</th>
                                <th scope="col">Cust Email</th>
                                <th scope="col">Note</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <form>
                            <tbody>
                                {{#each appointments}}
                                <tr>
                                    <td>{{this.id}}</td>
                                    <td>{{this.start_time}}</td>
                                    <td>{{this.Customer.id}}</td>
                                    <td>{{this.Customer.firstName}} {{this.Customer.mName}} {{this.Customer.lastName}}
                                    </td>
                                    <td>{{this.Customer.phone}}</td>
                                    <td>{{this.Customer.email}}</td>
                                    <td>{{this.note}}</td>
                                    <td><button type="button" data-id={{this.id}} class="btn btn-primary btn-sm edit"
                                            data-toggle="collapse" data-target="#collapse{{this.id}}"
                                            aria-expanded="false" aria-controls="collapse{{this.id}}">Edit</button></td>
                                    <td><button type="button" data-id={{this.id}}
                                            class="btn btn-danger btn-sm delete">Delete</button></td>
                                </tr>
                                <tr class="collapse" id="collapse{{this.id}}">
                                    <td>{{this.id}}</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="input-group date" id="datetimepicker{{this.id}}"
                                                data-target-input="nearest">
                                                <input type="text" id="appt-date{{this.id}}"
                                                    class="form-control datetimepicker-input"
                                                    data-target="#datetimepicker{{this.id}}"> </input>
                                                <div class="input-group-append" data-target="#datetimepicker{{this.id}}"
                                                    data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{this.Customer.id}}</td>
                                    <td>{{this.Customer.firstName}} {{this.Customer.mName}} {{this.Customer.lastName}}
                                    </td>
                                    <td>{{this.Customer.phone}}</td>
                                    <td>{{this.Customer.email}}</td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="note{{this.id}}"
                                                placeholder={{this.note}}></input>
                                        </div>
                                    </td>
                                    <td><button type="button" data-id={{this.id}}
                                            class="btn btn-primary btn-sm save-edit">Save</button></td>
                                    <td><button type="button" data-id={{this.id}}
                                            class="btn btn-danger btn-sm discard-edit" data-toggle="collapse"
                                            data-target="#collapse{{this.id}}" aria-expanded="false"
                                            aria-controls="collapse{{this.id}}">Discard</button></td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </form>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/appointment.js"></script>