<div class="container pt-4 company-info-bg">
    <div class="row">
        <div class="col-12 mx-auto">
            <div class="card">
                <img src="/assets/img/dummyPhoto.png" class="card-img-top" alt="...">
                <div class="card-body company-info-body">
                    <dl class="row">
                        <dt class="col-sm-3">Business Name</dt>
                        <dd class="col-sm-9">Duke Health Clinic</dd>

                        <dt class="col-sm-3">Location</dt>
                        <dd class="col-sm-9">123 Example Road, Raleigh, NC 27707</dd>

                        <dt class="col-sm-3">Business Hours</dt>
                        <dd class="col-sm-9">09:00AM through 4:30PM</dd>

                        <dt class="col-sm-3 text-truncate">Website</dt>
                        <dd class="col-sm-9">dukehealthclinic.org</dd>

                        <dt class="col-sm-3 text-truncate">Contact Email</dt>
                        <dd class="col-sm-9">clinic@dukehealth.edu</dd>

                        <dt class="col-sm-3">Customer Service</dt>
                        <dd class="col-sm-9">123.456.7890</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-4">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-3 summary-box summary-date">
            <div class="card summary-cards mx-auto bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header month-header">November</div>
                <div class="card-body card-body-padding">
                    <p class="card-text summary-date-text">14</p>
                </div>
                <div class="card-header month-header">Thursday</div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 summary-box">
            <div class="card summary-cards mx-auto bg-light mb-3" style="max-width: 18rem;">
                <div class="card-body card-body-padding summary-time">
                    <p class="card-text time-text">2:15 PM</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 summary-box summary-appt">
            <div class="card summary-cards mx-auto bg-light mb-3" style="max-width: 18rem;">
                <div class="card-body card-body-padding">
                    <p class="card-text appt-text">5</p>
                </div>
                <div class="card-header appt-header">Appointments</div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 summary-box summary-member">
            <div class="card summary-cards mx-auto bg-light mb-3" style="max-width: 18rem;">
                <div class="card-body card-body-padding">
                    <p class="card-text member-text">19</p>
                </div>
                <div class="card-header members-header">Members</div>
            </div>
        </div>
    </div>
</div>

{{!-- This is the appt list di --}}
<div class="container appt-container">
    <h3>Appointments:</h3>
    <ul id="appointment-list" class="list-group">
      {{#each appointments}}
      <a href="appointment/{{this.id}}">
        <p>{{id}}: {{start_time}}</p>
        </a>
        <p>{{note}}</p>
        <button data-id={{this.id}} class="btn btn-danger float-right delete">Cancel Appointment</button>
        <a href="appointment/{{this.id}}"><button id="edit" data-id={{id}}
            class="btn btn-danger float-right delete">Edit Appointment</button></a>
        <hr>
        =======
        <a href="appointment/{{this.id}}">
          <p>{{this.Client.bus_name}} appointment {{id}}: {{start_time}}</p>
        </a>
        <p>{{this.Customer.name}}</p>
        <p>Customer name: {{this.Customer.name}}</p>
        <p>Customer id: {{this.Customer.id}}</p>
        <p>Customer phone: {{this.Customer.phone}}</p>
        <p>Customer email: {{this.Customer.email}}</p>
        <p>{{note}}</p>
        <button data-id={{this.id}} class="btn btn-danger float-right delete">Cancel Appointment</button>
        <a href="appointment/{{this.id}}"><button id="edit" data-id={{id}} class="btn btn-danger float-right">Edit
            Appointment</button></a>
        <hr>
        {{/each}}
    </ul>
  </div>


</div>